@import url(global.css);
@import url(header.css);
@import url(controles.css);

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background: radial-gradient(circle at top left, #eeebff 0, transparent 32%), var(--bg);
    color: var(--text);
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

button {
    border: 0;
    cursor: pointer;
}